In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [30]:
df_infos = []
for i in range(9): # 9 clusters
    path = '../Data/Cluster'+str(i)
    df = pd.read_csv(path, delimiter=',')
    df.rename(columns={"Unnamed: 0": "original_id"},inplace=True)
    df_info = df.mean().append(pd.Series({"count":len(df)}))
    df_infos.append(df_info)
#     print(i, df.mean(), len(df), sep="\n")
cluster_summaries = pd.concat(df_infos, axis=1).T

In [31]:
cluster_summaries

,original_id,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,count
0,35039.540758,50029.249713,20669.682405,1.103330,160.565155,76.843981,133.340557,83.976464,2.494546,1.179966,0.000574,0.000000,0.936137,0.713261,6968.0
1,34840.384535,49745.375617,16804.790804,1.021560,161.676769,67.960855,120.330591,78.030912,1.088146,1.053251,0.000000,0.000000,0.999567,0.303922,11549.0
2,34675.134427,49509.110431,19097.375367,1.856758,169.229187,76.969956,127.459843,81.954212,1.328844,1.154995,1.000000,0.000000,0.831783,0.472576,4084.0
3,35155.319849,50195.275630,20343.658140,1.291097,163.757684,77.412056,130.465992,83.475114,2.412453,2.967678,0.030537,0.007139,0.794368,0.630180,5043.0
4,34830.988147,49731.278017,19856.270474,1.394397,164.149784,80.874784,283.534483,1205.133621,1.545259,1.271552,0.084052,0.039871,0.831897,0.846983,928.0
5,35071.208074,50074.246817,19141.376863,1.699810,167.741804,78.135546,129.364129,89.604443,1.451368,1.235979,0.500948,1.000000,0.845299,0.476836,3691.0
6,35111.069578,50131.236615,19349.775968,1.991693,170.617485,77.147463,127.574225,81.887326,1.144338,1.067440,0.000000,0.000000,0.996628,0.475121,12159.0
7,34686.184506,49525.710314,19400.027430,1.312297,164.301548,73.431637,125.519970,81.079418,1.171532,1.079789,0.000000,0.000000,0.000000,0.509221,10791.0
8,35270.930818,50360.041861,20993.569960,1.010617,161.167174,72.729311,126.708934,81.317779,1.000338,1.042132,0.000000,0.000000,0.999594,0.512139,14787.0

In [33]:
# check 
sum(cluster_summaries["cardio"]*cluster_summaries["count"])/sum(cluster_summaries["count"])

0.4997