In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import csv
from sklearn import metrics

In [2]:
# read in data
df = pd.read_csv('../Data/Cluster0', delimiter=',')
print(df.head())

   Unnamed: 0  id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  \
0           1   1  20228       1     156    85.0    140     90            3
1           2   2  18857       1     165    64.0    130     70            3
2           6   9  22113       1     157    93.0    130     80            3
3          22  32  23046       1     158    90.0    145     85            2
4          24  35  16608       1     170    68.0    150     90            3

   gluc  smoke  alco  active  cardio
0     1      0     0       1       1
1     1      0     0       0       1
2     1      0     0       1       0
3     2      0     0       1       1
4     1      0     0       1       1

In [3]:
df_feat = df.iloc[:,2:-1] # eventhing but last column
target = df.iloc[:,-1] #last column

df_feat.head() # age in days

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,20228,1,156,85.0,140,90,3,1,0,0,1
1,18857,1,165,64.0,130,70,3,1,0,0,0
2,22113,1,157,93.0,130,80,3,1,0,0,1
3,23046,1,158,90.0,145,85,2,2,0,0,1
4,16608,1,170,68.0,150,90,3,1,0,0,1

In [4]:
from sklearn.preprocessing import StandardScaler
# standardize: mean = 0, std = 1
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df_feat)
scaled_features.shape # np array
print(scaled_features)

[[-0.23486806 -0.33946557 -0.64100667 ... -0.02396628  0.
   0.26118986]
 [-0.96390798 -0.33946557  0.62270947 ... -0.02396628  0.
  -3.82863252]
 [ 0.76749536 -0.33946557 -0.50059377 ... -0.02396628  0.
   0.26118986]
 ...
 [-0.03226834 -0.33946557 -0.21976796 ... -0.02396628  0.
   0.26118986]
 [ 1.02699316 -0.33946557 -0.36018086 ... -0.02396628  0.
   0.26118986]
 [-0.06895963 -0.33946557  1.32477399 ... -0.02396628  0.
   0.26118986]]

In [5]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(scaled_features, target, train_size=0.8)

In [ ]:
from sklearn import svm

# Train SVM model with linear kernel
# degree


for i in range(1,20):
    svmModel = svm.SVC(kernel='poly', degree=i)
    svmModel.fit(x_train, y_train)
    
    y_predictions = svmModel.predict(x_test)

    print("Accuracy:", metrics.accuracy_score(y_test, y_predictions))

In [ ]:
# Run on test dataset
y_predictions = svmModel.predict(x_test)

print("Accuracy:", metrics.accuracy_score(y_test, y_predictions))