In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import csv
from sklearn import metrics

from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

In [2]:
# read in data
df = pd.read_csv('../Data/cardio_train.csv', delimiter=';')
print(df.head())

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
0   0  18393       2     168    62.0    110     80            1     1      0
1   1  20228       1     156    85.0    140     90            3     1      0
2   2  18857       1     165    64.0    130     70            3     1      0
3   3  17623       2     169    82.0    150    100            1     1      0
4   4  17474       1     156    56.0    100     60            1     1      0

   alco  active  cardio
0     0       1       0
1     0       1       1
2     0       0       1
3     0       1       1
4     0       0       0

In [3]:
df_feat = df.iloc[:,1:-1] # eventhing but last column
target = df.iloc[:,-1] #last column

df_feat.head() # age is in days

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,18393,2,168,62.0,110,80,1,1,0,0,1
1,20228,1,156,85.0,140,90,3,1,0,0,1
2,18857,1,165,64.0,130,70,3,1,0,0,0
3,17623,2,169,82.0,150,100,1,1,0,0,1
4,17474,1,156,56.0,100,60,1,1,0,0,0

In [18]:
import sklearn.feature_selection

anova_scores = sklearn.feature_selection.f_classif(df_feat, target)

f_statistics = anova_scores[0]
p_values = anova_scores[1]

print('Feature\t\tF-statistics\t\t\tP-values')
for i in range(11):
    print(df_feat.columns[i] + '\t\t' + str(f_statistics[i]) + ':\t\t' + str(p_values[i]))

Feature		F-statistics			P-values
age		4209.007957152274:		0.0
gender		4.6036413617775045:		0.031907552771779216
height		8.197396924149174:		0.004196298813842574
weight		2388.77788650165:		0.0
ap_hi		208.33952406086507:		3.6980921262798253e-47
ap_lo		303.62901136933846:		7.424551292500745e-68
cholesterol		3599.361136907452:		0.0
gluc		562.7729769660419:		6.48304259141754e-124
smoke		16.790541213418678:		4.178779876514016e-05
alco		3.7613554397831175:		0.05245405717026362
active		89.09149379096431:		3.88043833387526e-21