In [38]:
# logistic regression for clusters 0; 4, 7, 8
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

ImportError: cannot import name 'metrics' from 'sklearn.metrics' (c:\users\user\appdata\local\programs\python\python39\lib\site-packages\sklearn\metrics\__init__.py)

In [12]:
df = pd.read_csv('../Data/Cluster0', delimiter=',')
df.rename(columns={"Unnamed: 0": "original_id"},inplace=True)
print(df.head())

   original_id  id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  \
0            1   1  20228       1     156    85.0    140     90            3
1            2   2  18857       1     165    64.0    130     70            3
2            6   9  22113       1     157    93.0    130     80            3
3           22  32  23046       1     158    90.0    145     85            2
4           24  35  16608       1     170    68.0    150     90            3

   gluc  smoke  alco  active  cardio
0     1      0     0       1       1
1     1      0     0       0       1
2     1      0     0       1       0
3     2      0     0       1       1
4     1      0     0       1       1

In [133]:
df_0 = df[df["cardio"]==0]
ind_0 = 
df_1 = df[df["cardio"]==1]
ind_1 =

original_id    34942.679680
id             49891.029029
age            20373.797798
gender             1.080080
height           160.326827
weight            74.398649
ap_hi            124.229730
ap_lo             80.308308
cholesterol        2.302803
gluc               1.222222
smoke              0.000000
alco               0.000000
active             0.963964
cardio             0.000000
dtype: float64

In [23]:
X = df.iloc[:,2:-1] # eventhing but last column
y = df.iloc[:,-1] #last column

X.head() # age in days

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,20228,1,156,85.0,140,90,3,1,0,0,1
1,18857,1,165,64.0,130,70,3,1,0,0,0
2,22113,1,157,93.0,130,80,3,1,0,0,1
3,23046,1,158,90.0,145,85,2,2,0,0,1
4,16608,1,170,68.0,150,90,3,1,0,0,1

In [21]:
df.mean() # 71.33%

original_id    35039.540758
id             50029.249713
age            20669.682405
gender             1.103330
height           160.565155
weight            76.843981
ap_hi            133.340557
ap_lo             83.976464
cholesterol        2.494546
gluc               1.179966
smoke              0.000574
alco               0.000000
active             0.936137
cardio             0.713261
dtype: float64

Features:

1. Age | Objective Feature | age | int (days)
2. Height | Objective Feature | height | int (cm) |
3. Weight | Objective Feature | weight | float (kg) |
4. Gender | Objective Feature | gender | categorical code |
5 .Systolic blood pressure | Examination Feature | ap_hi | int |
6. Diastolic blood pressure | Examination Feature | ap_lo | int |
7. Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |
8. Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |
9. Smoking | Subjective Feature | smoke | binary |
10. Alcohol intake | Subjective Feature | alco | binary |
11. Physical activity | Subjective Feature | active | binary |
12. Presence or absence of cardiovascular disease | Target Variable | cardio | binary |

In [24]:
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
# standardize: mean = 0, std = 1
scaler = StandardScaler()
scaled_features = scaler.fit_transform(X)
pd.DataFrame(scaled_features).head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.234868,-0.339466,-0.641007,0.534823,0.219785,0.576692,1.009808,-0.468467,-0.023966,0.0,0.261190
1,-0.963908,-0.339466,0.622709,-0.842232,-0.110250,-1.338103,1.009808,-0.468467,-0.023966,0.0,-3.828633
2,0.767495,-0.339466,-0.500594,1.059416,-0.110250,-0.380706,1.009808,-0.468467,-0.023966,0.0,0.261190
3,1.263625,-0.339466,-0.360181,0.862694,0.384803,0.097993,-0.988018,2.134624,-0.023966,0.0,0.261190
4,-2.159831,-0.339466,1.324774,-0.579936,0.549820,0.576692,1.009808,-0.468467,-0.023966,0.0,0.261190

In [132]:
X_train, X_test, y_train, y_test = train_test_split(X, y)
# clf = LogisticRegression().fit(X_train, y_train)
clf = sklearn.linear_model.SGDClassifier(loss="log").fit(X_train, y_train)
y_pred = clf.predict(X_test)
metrics.accuracy_score(y_test,y_pred)

0.7175660160734788

In [112]:
from imblearn.over_sampling import SMOTE

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

sm = SMOTE(random_state = 2)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train.ravel())

clf = LogisticRegression()
model_res = clf.fit(X_train_res, y_train_res)

AttributeError: 'SMOTE' object has no attribute 'fit_sample'

In [41]:
!pip install imblearn

Collecting imblearn

WARNING: Ignoring invalid distribution -illow (c:\users\user\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\user\appdata\local\programs\python\python39\lib\site-packages)

  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.8.1-py3-none-any.whl (189 kB)
Requirement already satisfied: scipy>=0.19.1 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from imbalanced-learn->imblearn) (1.7.1)
Requirement already satisfied: joblib>=0.11 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from imbalanced-learn->imblearn) (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from imbalanced-learn->imblearn) (1.21.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.2.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.8.1 imblearn-0.0